body {
    background-color: #004C91;
}
p {
    font-family: "BogleWeb-Regular", Verdana, sans-serif;
    font-size: 18px;
}
h1 {
    font-family: "BogleWeb-Black", Verdana, sans-serif;
    font-size: 28px;
}
h2 {
    font-family: "BogleWeb-Black", Verdana, sans-serif;
    font-size: 24px;
}
h3 {
    font-family: "BogleWeb-Black", Verdana, sans-serif;
    font-size: 18px;
}
h4 {
    font-family: "BogleWeb-Black", Verdana, sans-serif;
    font-size: 16px;
}
h5 {
    font-family: "BogleWeb-Black", Verdana, sans-serif;
    font-size: 14px;
}
h6 {
    font-family: "BogleWeb-Black", Verdana, sans-serif;
    font-size: 12px;
}